/* section */
.section {
	display: block;
	position: relative;
	width: 100%;
	max-width: 38em;
	height: auto;
	margin: 0 auto;
	margin-bottom: 6em;
	padding: 1em;
	z-index: 1;
	background-color: #fff;
}

@media only screen and (min-width: 62em) {
	.section {
		max-width: 48em;
	}
}

/* section fluid */
.section.fluid {
	display: flex;
	max-width: 100%;
	padding: 0;
}

/* figure */
.figure {
	display: block;
	position: relative;
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

/* figure container */
.figure.container {
	max-width: 38em;
	padding: 1em;
}

@media only screen and (min-width: 62em) {
	.figure.container {
		max-width: 48em;
	}

	/* figure flex */
	.figure.flex {
		display: flex;
		align-items: flex-start;
		padding-top: 3.25em;
		padding-bottom: 3.25em;
	}
}

/* title */
.title {
	display: block;
	font-weight: 700;
	transition: all 250ms;
}

.title .sub {
	display: block;
	margin: 0 auto;
	color: #8a8d92;
	font-size: 50%;
	font-weight: 400;
	line-height: 1;
}

/* list */
.list {
	display: block;
	position: relative;
	margin: 0;
	margin-left: 1em;
	padding: 0;
}

.list .item {
	position: relative;
	padding: 0;
}

/* flex list */
.list.flex {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1em;
	list-style: none;
}

.list.flex .item {
	flex: 1;
	width: auto;
	padding-left: 1em;
}

@media only screen and (min-width: 62em) {
	.list.flex.contained {
		width: 220em;
	}
}

/* inline list */
.list.inline {
	display: inline;
	list-style: none;
	margin: 0;
}

.list.inline .item {
	display: inline-block;
}

/* unstyled list */
.list.unstyled {
	margin: 0;
	list-style: none;
}

/* image */
.image {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

/* image thumb */
.image.thumb {
	max-width: 10em;
}

/* link */
.link {
	position: relative;
}

/* button */
.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 1em auto;
	padding: 0.75em 1em;
	outline: 0;
	border: 0;
	box-shadow: 0 0.05em 0 0.05em #8a8d92;
	background-color: #d8dce4;
	color: #3b3c3e;
	font-family: 'Ubuntu','Open Sans','Helvetica Neue','Helvetica','Arial','sans-serif';
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1;
	transition: all 250ms;
}

.button:hover {
	box-shadow: 0 0 0 0.05em #aa5d4e;
	background-color: #b67468;
	color: #fff;
	text-decoration: none;
}

.button:active {
	box-shadow: 0 0 0 0.05em #515254;
	background-color: #8a8d92;
	color: #fff;
	text-decoration: none;
}

.button.primary {
	box-shadow: 0 0.05em 0 0.05em #aa5d4e;
	background-color: #b67468;
	color: #fff;
}

.button.primary:hover {
	box-shadow: 0 0 0 0.05em #d8dce4;
	background-color: #d8dce4;
	color: #3b3c3e;
}

.button.primary:active {
	box-shadow: 0 0 0 0.05em #aa5d4e;
	background-color: #aa5d4e;
	color: #fff;
}

.button.transparent {
	box-shadow: none;
	background-color: transparent;
	color: #8a8d92;
}

.button.transparent:hover {
	box-shadow: none;
	background-color: transparent;
	color: #3b3c3e;
}

.button.transparent:active {
	box-shadow: none;
	background-color: transparent;
	color: #515254;
}

/* form */
.form {
	position: relative;
}

/* form field */
.form .field {
	display: flex;
	margin: 0 auto;
}

/* form field input */
.form .field .input {
	padding: 0.5em 0.75em;
	outline: none;
	border: 0;
	box-shadow: 0 0 0 0.05em #d8dce4;
	transition: all 250ms;
}

.form .field .input:focus {
	box-shadow: 0 0 0 0.05em #aa5d4e;
}

/* form field group */
.form .field.group {
	font-size: 75%;
}

@media only screen and (min-width: 30em) {
	.form .field.group {
		font-size: 100%;
	}
}

/* form field group input */
.form .field.group .input {
	flex: 1;
}

/* form field group button */
.form .field.group .button {
	margin: 0;
	top: -0.05em;
}

.form .field.group .button:hover {
	top: 0;
}

.form .field.group .button:active {
	top: 0;
}
