/* section */
.section {
	display: block;
	position: relative;
	width: 100%;
	max-width: 38em;
	height: auto;
	margin: 0 auto;
	margin-bottom: 4em;
	padding: 1em;
}

@media only screen and (min-width: 62em) {
	.section {
		max-width: 48em;
	}
}

/* section fluid */
.section.fluid {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	padding: 0;
}

/* figure */
.figure {
	display: block;
	position: relative;
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

/* figure container */
.figure.container {
	max-width: 38em;
	padding: 1em;
}

@media only screen and (min-width: 62em) {
	.figure.container {
		max-width: 48em;
	}

	/* figure flex */
	.figure.flex {
		display: flex;
		align-items: flex-start;
		padding-top: 3.25em;
		padding-bottom: 3.25em;
	}
}

/* link */
.link {
	position: relative;
}

/* form */
.form {
	position: relative;
}

/* form field */
.form .field {
	display: flex;
	margin: 0 auto;
}

/* form field input */
.form .field .input {
	padding: 0.5em 0.75em;
	outline: none;
	border: 0;
	box-shadow: 0 0 0 0.05em #d8dce4;
	transition: all 250ms;
}

.form .field .input:focus {
	box-shadow: 0 0 0 0.05em #aa5d4e;
}

/* form field group */
.form .field.group {
	font-size: 75%;
}

@media only screen and (min-width: 30em) {
	.form .field.group {
		font-size: 100%;
	}
}

/* form field group input */
.form .field.group .input {
	flex: 1;
}

/* form field group button */
.form .field.group .button {
	margin: 0;
	top: -0.05em;
}

.form .field.group .button:hover {
	top: 0;
}

.form .field.group .button:active {
	top: 0;
}
