.posts.figure .list .item {
  margin-bottom: 2em;
  padding: 0;
}

.posts.figure .list .item:last-child {
  border-bottom: 0;
}

.posts.figure .list .item .link {
  color: #515254;
  text-decoration: none;
}

.posts.figure .list .item .link .title {
  margin-bottom: 0.5em
}

.posts.figure .list .item .link .title .sub {
  margin-top: 0.15em;
  padding-top: 0.25em;
  border-top: 0.15em solid #d8dce4;
  transition: all 250ms;
}

.posts.figure .list .item .link:hover .title .sub {
  border-top: 0.15em solid #b67468;
  color: #b67468;
}
