.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 1em auto;
	padding: 0.75em 1em;
	outline: 0;
	border: 0;
	box-shadow: 0 0.05em 0 0.05em #8a8d92;
	background-color: #d8dce4;
	color: #3b3c3e;
	font-family: 'Ubuntu','Open Sans','Helvetica Neue','Helvetica','Arial','sans-serif';
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1;
	transition: all 250ms;
}

.button:hover {
	box-shadow: 0 0 0 0.05em #aa5d4e;
	background-color: #b67468;
	color: #fff;
	text-decoration: none;
}

.button:active {
	box-shadow: 0 0 0 0.05em #515254;
	background-color: #8a8d92;
	color: #fff;
	text-decoration: none;
}

.button.primary {
	box-shadow: 0 0.05em 0 0.05em #aa5d4e;
	background-color: #b67468;
	color: #fff;
}

.button.primary:hover {
	box-shadow: 0 0 0 0.05em #d8dce4;
	background-color: #d8dce4;
	color: #3b3c3e;
}

.button.primary:active {
	box-shadow: 0 0 0 0.05em #aa5d4e;
	background-color: #aa5d4e;
	color: #fff;
}

.button.transparent {
	box-shadow: none;
	background-color: transparent;
	color: #8a8d92;
}

.button.transparent:hover {
	box-shadow: none;
	background-color: transparent;
	color: #3b3c3e;
	transform: scale(1.05);
}

.button.transparent:active {
	box-shadow: none;
	background-color: transparent;
	color: #515254;
	transform: none;
}
