/* menu figure */
.menu.figure {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  padding: 0;
  z-index: -1;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

/* reading state */
.reading .menu.figure {
  display: flex;
  position: absolute;
  z-index: -1;
  height: 0;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

/* navigating state */
.navigating .menu.figure {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  min-height: 100vh;
  opacity: 1;
  visibility: visible;
  background-color: #d8dce4;
}

/* menu button */
.menu.figure .button {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2.5em;
  height: 3em;
  margin: 0;
  padding: 0.25em;
  color: #3b3c3e;
  z-index: 5;
}

/* navigating state */
.navigating .menu.figure .button {
  position: fixed;
}

/* menu button icon */
.menu.figure .button .menu.icon {
  position: relative;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: #aa5d4e;
  transition: all 250ms;
  backface-visibility: hidden;
}

.menu.figure .button .menu.icon::before,
.menu.figure .button .menu.icon::after {
  content: '';
  position: absolute;
  left: 0;
  top: -0.7em;
  width: 100%;
  height: 0.2em;
  background-color: #aa5d4e;
  transition: all 250ms;
  backface-visibility: hidden;
}

.menu.figure .button:hover .menu.icon,
.menu.figure .button:hover .menu.icon::before,
.menu.figure .button:hover .menu.icon::after {
  background-color: #b67468;
}

.menu.figure .button .menu.icon::after {
  top: 0.75em;
}

/* navigating state */
.navigating .menu.figure .button .menu.icon {
  background-color: transparent;
}

.navigating .menu.figure .button .menu.icon::before {
  transform: rotate(45deg) translate(0.5em, 0.5em);
}

.navigating .menu.figure .button .menu.icon::after {
  transform: rotate(-45deg) translate(0.5em, -0.5em);
}

/* menu navigation */
.menu.figure .navigation {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

/* navigating state */
.navigating .menu.figure .navigation {
  opacity: 1;
  visibility: visible;
}

/* menu navigation link */
.menu.figure .navigation .link {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.5em;
  color: #3b3c3e;
  font-family: 'Ubuntu','Open Sans','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 2em;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 250ms;
}

.menu.figure .navigation .link.active,
.menu.figure .navigation .link:hover {
  background-color: #515254;
  color: #aa5d4e;
}
