/* list */
.list {
	display: block;
	position: relative;
	margin: 0;
	margin-left: 1em;
	padding: 0;
}

.list .item {
	position: relative;
	padding: 0;
}

/* flex list */
.list.flex {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1em;
	list-style: none;
}

.list.flex .item {
	flex: 1;
	width: auto;
	padding-left: 1em;
}

@media only screen and (min-width: 62em) {
	.list.flex.contained {
		width: 220em;
	}
}

/* inline list */
.list.inline {
	display: inline;
	list-style: none;
	margin: 0;
}

.list.inline .item {
	display: inline-block;
}

/* unstyled list */
.list.unstyled {
	margin: 0;
	list-style: none;
}

/* posts list */
.posts.list {
	margin: 0 auto;
	list-style: none;
}

.posts.list .item {
  margin-bottom: 2em;
  padding: 0;
}

.posts.list .item:last-child {
  border-bottom: 0;
}

.posts.list .item .link {
  color: #515254;
  text-decoration: none;
}

.posts.list .item .link .title {
  margin-bottom: 0.5em
}

.posts.list .item .link .title .sub {
  margin-top: 0.15em;
  padding-top: 0.25em;
  border-top: 0.15em solid #d8dce4;
  transition: all 250ms;
}

.posts.list .item .link:hover .title .sub {
  border-top: 0.15em solid #b67468;
  color: #b67468;
}
