@import '../../stylesheets/_variables';

.list {
	display: block;
	position: relative;
	margin: 0;
	margin-left: $base;
	padding: 0;

	.item {
		position: relative;
		padding: 0;
	}

	&.flex {
		display: flex;
		flex-wrap: wrap;
		margin-left: -$base;
		list-style: none;

		.item {
			flex: 1;
			width: auto;
			padding-left: $base;
		}
	}

	&.inline {
		display: inline;
		list-style: none;
		margin: 0;

		.item {
			display: inline-block;
		}
	}

	&.unstyled {
		margin: 0;
		list-style: none;
	}
}
