.counter.section {
  margin-bottom: 0;
  border-top: 0.5em solid #b67468;
  border-bottom: 4em solid #3b3c3e;
  background-color: #515254;
  color: #d8dce4;
  text-align: center;
}

.counter.section .figure {
  margin-top: 3em;
  margin-bottom: 3em;
}

.counter.section .figure .title {
  margin-bottom: 0.5em;
  color: #d8dce4;
  text-transform: uppercase;
}

.counter.section .figure .message {
  max-width: 25em;
  margin: 1em auto 0;
  color: #8a8d92;
  font-weight: normal;
}
