/* hero section */
.hero.section {
  display: flex;
  min-height: 25vh;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: left;
  z-index: 1;
}

.hero.section .hero.figure {
  flex: none;
  align-self: flex-end;
  padding: 0;
}

.hero.section .hero.figure .title {
  margin-top: 3em;
  color: #aa5d4e;
  text-transform: uppercase;
}

.hero.section .hero.figure .title .sub {
  display: block;
  margin-top: 0.25em;
  color: #3b3c3e;
  font-size: 50%;
  text-transform: initial;
}

/* index hero */
.index.hero.section {
  min-height: 75vh;
  margin-bottom: 2em;
  text-align: center;
}

.index.hero.section .hero.figure .logo {
  max-width: 15em;
}

.index.hero.section .hero.figure .title {
  margin-top: 0;
  margin-bottom: 2em;
}

.index.hero.section .hero.figure .title .sub {
  max-width: 20em;
}

/* post hero */
.post.hero.section .hero.figure .title {
  margin-top: 4em;
  color: #3b3c3e;
  text-transform: capitalize;
}

.post.hero.section .hero.figure .title .sub {
  margin-top: 0.15em;
  padding-top: 0.25em;
  border-top: 0.15em solid #aa5d4e;
  color: #aa5d4e;
  text-transform: uppercase;
}

.post.hero.section .hero.figure .title .category {
  position: absolute;
  bottom: -0.9em;
  right: 0;
  padding: 0.5em;
  border: 0.15em solid #aa5d4e;
  background-color: #aa5d4e;
  color: #fff;
  font-size: 50%;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 250ms;
}

.post.hero.section .hero.figure .title .category:hover {
  background-color: transparent;
  color: #aa5d4e;
}
