.counter.figure .title {
  margin-bottom: 0.5em;
}

.counter.figure .caption .count {
  display: inline-block;
  margin: 0 0.25em;
  padding: 0.5em;
  box-shadow: 0 0 0 0.05em #3b3c3e inset;
  background-color: #aa5d4e;
  color: #fff;
  font-size: 75%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 250ms;
}

.counter.figure .caption .count:hover {
  box-shadow: 0 0 0 0.05em #3b3c3e;
  background-color: #b67468;
}

@media only screen and (min-width: 30em) {
  .counter.figure .caption .count {
    font-size: 150%;
  }
}

.counter.figure .caption .count .label {
  display: block;
  margin-top: 0.25em;
  color: #d8dce4;
  font-size: 25%;
  font-weight: normal;
}

.counter.figure .message {
  max-width: 20em;
  margin: 1em auto 0;
  color: #d8dce4;
}
