.read.next.figure {
  margin-top: -2em;
}

.read.next.figure .link {
  display: block;
  position: relative;
  max-width: 16em;
  margin: 0 auto;
  color: #515254;
  font-family: 'Ubuntu','Open Sans','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  transition: all 250ms ease;
}

.read.next.figure .link:hover {
  color: #3b3c3e;
}

.read.next.figure .link.previous {
  transform: scale(0.5);
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 48em) {
  .read.next.figure .link {
    transform: scale(1.25);
  }

  .read.next.figure .link:hover {
    transform: scale(2);
  }

  .read.next.figure .link.previous {
    filter: blur(0.15em);
    transform: scale(0.25);
  }

  .read.next.figure .link.previous:hover {
    filter: blur(0);
    transform: scale(0.5);
  }
}

.read.next.figure .link .label {
  display: block;
  color: #8a8d92;
  font-size: 75%;
  font-weight: normal;
  text-transform: lowercase;
}

.read.next.figure .link:hover .label {
  color: #aa5d4e;
}
