.reading.time.figure {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  margin: 1em !important;
  padding: 0.25em;
  background-color: rgba(59, 60, 62, 0.95);
  font-size: 75%;
  text-align: center;
  z-index: 1;
}

.reading.time.figure .caption {
  margin: 0;
  color: #d8dce4;
  line-height: 1;
}

.reading.time.figure .caption .label {
  display: block;
  color: #aa5d4e;
  font-size: 50%;
  text-transform: uppercase;
}
