.reading.time.caption {
  margin: 1em;
  padding: 0.25em;
  box-shadow: 0 0 0 0.05em #3b3c3e;
  background-color: rgba(59, 60, 62, 0.95);
  color: #d8dce4;
  font-size: 75%;
  text-align: center;
  line-height: 1;
}

.reading.time.caption .label {
  display: block;
  color: #aa5d4e;
  font-size: 50%;
  text-transform: uppercase;
}
