/* affixed section */
.affixed.section {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0;
  background-color: transparent;
  z-index: 1;
}

.affixed.top.section {
  top: 0;
}

.affixed.bottom.section {
  bottom: 0;
}

.affixed.right.section {
  left: auto;
  right: 50%;
  transform: translateX(50%);
}

.affixed.centered.section {
  position: absolute;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.affixed.fluid.section {
  position: relative;
  left: 0;
  transform: none;
}

/* affixed figure */

.affixed.section .inline.figure {
  display: inline-block;
  width: auto;
}

.affixed.section .affixed.figure {
  position: fixed;
  left: 0;
}

.affixed.fluid.section .top.affixed.figure {
  top: 0;
}

.affixed.fluid.section .bottom.affixed.figure {
  bottom: 0;
}

.affixed.fluid.section .right.affixed.figure {
  left: auto;
  right: 0;
}
