.affixed.section {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50vh;
  margin: 0;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.affixed.top.section {
  top: 0;
}

.affixed.bottom.section {
  bottom: 0;
}

.affixed.right.section {
  left: auto;
  right: 50%;
}
