.mailchimp.figure {
  max-width: 25em;
  margin-bottom: 1em;
}

.mailchimp.figure .title {
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 48em) {
  .mailchimp.figure .title {
    margin-left: -0.5em;
    margin-right: -0.5em;
  }
}

.mailchimp.figure .title .message {
  margin-top: 0.5em;
  padding: 0.5em;
  border-top: 0.1em solid #b67468;
  color: #515254;
}

.mailchimp.figure .mailchimp.form {
  margin-bottom: 0.5em;
}

.mailchimp.figure .disclaimer {
  color: #8a8d92;
  font-size: 65%;
  text-align: left;
  line-height: 1;
}
