.header {
  z-index: 2;
}

.header .headroom-wrapper {
  position: relative;
  width: auto;
  height: auto !important;
  z-index: 5;
}

.header .headroom-wrapper .headroom.headroom--unpinned {
  display: none;
  position: fixed;
  bottom: 1.75em;
  left: 0;
  width: 100%;
  padding: 0;
}

.header .headroom-wrapper .headroom.headroom--pinned,
.header .headroom-wrapper .headroom.headroom--unfixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.header .link {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 3em;
  height: 3em;
  margin: 0;
  z-index: 1;
}

.header .logo.image {
  display: block;
  margin: 0;
  padding: 0.25em;
  border-radius: 50%;
  background-color: #fff;
}

.header .headroom-wrapper .headroom.headroom--unfixed .logo.image {
  display: none;
}

.navigating .header .headroom-wrapper .headroom.headroom--unpinned,
.navigating .header .headroom-wrapper .headroom.headroom--pinned,
.navigating .header .headroom-wrapper .headroom.headroom--unfixed  {
  display: block;
}

.navigating .header .headroom-wrapper .headroom.headroom--unpinned .details.button {
  display: none;
}
