.footer {
  display: flex;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  min-height: 50vh;
  background-color: #d8dce4;
  color: #3b3c3e;
}

.footer .copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #8a8d92;
}
